
:root {
     --primary-color: #7c3aed;
   }

.container{
     display: flex;
     flex-direction: column;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
}

.header{
     color: var(--primary-color)
}
#bill-amount{
     display: block;
     border: 2px solid var(--primary-color);
     width: 100%;
     height: 32px;
     margin: 16px;
     max-width: 256px;
     align-self: center;
}

#cash-given-label{
     display: none;
}
#cash-given{
     display: none;
     width: 100%;
     max-width: 256px;
     margin: 16px;
     height: 32px;
     border: 2px solid var(--primary-color);
     align-self: center;
}

#check-button{
     display: none;
     width: 100%;
     max-width: 256px;
     height: 32px;
     margin: 16px;
     background-color: #7c3aed;
     text-align: center;
     color: antiquewhite;
     border: 2px solid var(--primary-color);
     align-self: center;
}
#next-button{
     display: block;
     width: 100%;
     max-width: 256px;
     height: 32px;
     margin: 16px;
     background-color: #7c3aed;
     text-align: center;
     color: antiquewhite;
     border: 2px solid var(--primary-color);
     align-self: center;
}

#error-message {
     display: block;
     font-size: larger;
     margin: 8px;
     align-self: center;
     text-align: center;
     color: red;
   }

.notes-header  {
     color:darkcyan;
     margin: 16px;

} 

.notes-table{
width: 50%;
text-align: center;
margin: auto;
}

th, td{
     border: 2px solid var(--primary-color);
     padding: 0.4rem;
     width: 60px;
     text-align: left;
}

/** footers **/

.footer {
     background-color: var(--primary-color);
     padding: 2rem 1rem;
     text-align: center;
     color: white;
     display: "block";
     margin-top: 32px;
   }
   
   .footer .link {
     color: white;
   }
   
   .footer .footer-header {
     font-weight: bold;
     font-size: large;
   }
   
   .footer ul {
     padding-inline-start: 0px;
   }

   
   .list-non-bullet {
     list-style: none;
     padding-inline-start: 0px;
   }

   .list-item-inline {
     display: inline;
     padding: 0rem 0.5rem;
   }


